{
    "parserOptions": {
        "ecmaVersion": 2023,
        "impliedStrict": true,
        "sourceType": "module"
    },
    "plugins": [
        "prettier"
    ],
    "rules": {
        "prettier/prettier": "error",
        "curly": ["error", "all"]
    }
}
